<?xml  version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <bean name="editUserAction" class="task.controller.EditUserAction" scope="prototype">
        <property name="userManager">
            <ref bean="userManager"/>
        </property>
    </bean>

    <bean name="deleteAction" class="task.controller.DeleteAction" scope="prototype">
        <property name="userManager">
            <ref bean="userManager"/>
        </property>
    </bean>

    <bean name="addAction" class="task.controller.AddAction" scope="prototype">
        <property name="userManager">
            <ref bean="userManager"/>
        </property>
    </bean>

    <!-- Beans are injected automatically by spring context -->
    <bean id="userDAO" class="task.dao.UserDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="roleDAO" class="task.dao.RoleDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="userRolesDAO" class="task.dao.UserRolesDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="jobPlaceDAO" class="task.dao.JobPlaceDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="organisationDAO" class="task.dao.OrganizationDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="positionDAO" class="task.dao.PositionDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="userManager" class="task.service.UserManagerImpl">
        <property name="userDAO" ref="userDAO"/>
        <property name="roleDAO" ref="roleDAO"/>
        <property name="userRolesDAO" ref="userRolesDAO"/>
        <property name="positionDAO" ref="positionDAO"/>
        <property name="organizationDAO" ref="organisationDAO"/>
        <property name="jobPlaceDAO" ref="jobPlaceDAO"/>
    </bean>

    <!-- Configure jdbc.properties -->
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="/WEB-INF/jdbc.properties"/>

    <!-- Data Source configuration -->
    <bean id="dataSource"
          class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
          p:driverClassName="${jdbc.driverClassName}"
          p:url="${jdbc.databaseurl}" p:username="${jdbc.username}"
          p:password="${jdbc.password}"/>

    <!-- Configure hibernate session factory -->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation">
            <value>classpath:hibernate.cfg.xml</value>
        </property>
        <property name="configurationClass">
            <value>org.hibernate.cfg.Configuration</value>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${jdbc.dialect}</prop>
            </props>
        </property>
    </bean>


    <tx:annotation-driven/>
    <!-- Run SQL queries in transactions -->
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

</beans>