<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="task.entity.User"/>
        <mapping class="task.entity.Role"/>
        <mapping class="task.entity.UserRoles"/>
        <mapping class="task.entity.Position"/>
        <mapping class="task.entity.Organization"/>
        <mapping class="task.entity.JobPlace"/>
        <mapping class="task.entity.Address"/>
        <mapping class="task.entity.Certification"/>
        <mapping class="task.entity.CertificationView"/>
    </session-factory>
</hibernate-configuration>